@inject IDbContextFactory<DbInfoscreenContext> ContextFactory

<div class="headline">Versand</div>


<div class="row">

    <div class="col-12 centric last-shipment">
        @lastShipment
    </div>





    <style>
        .rz-series-data-label {
            fill: white;
            font-size: 32px;
        }

        .rz-category-axis {
            font-size: 18px;
            font-weight: bold;
        }
    </style>

    <div class="col-12">
        <RadzenChart>
            <RadzenColumnSeries Data="@lastTenDays" CategoryProperty="Datum" ValueProperty="RoundedValue" Title="Letzte 10 Tage">
                <RadzenSeriesDataLabels Visible="true" OffsetY="50" />
            </RadzenColumnSeries>
            <RadzenLineSeries Smooth="true" Data="@lastTenDays" CategoryProperty="Datum" ValueProperty="RoundedValue" Title="Soll">

            </RadzenLineSeries>

            <RadzenColumnOptions Radius="5" />
            <RadzenCategoryAxis Padding="550" />
            <RadzenValueAxis Min="0" Step="400">
                <RadzenGridLines Visible="true" />
            </RadzenValueAxis>
            <RadzenLegend Visible="false" />
        </RadzenChart>
    </div>

    <div class="col-12">
        @if (sollDaten == null)
        {
            <p>Loading ...</p>
        }
        else
        {
            <RadzenChart>
                <RadzenLineSeries Smooth="true" Data="@sollDaten" CategoryProperty="TimeStamp" ValueProperty="Value" Title="Soll">

                </RadzenLineSeries>

                <RadzenCategoryAxis Step="TimeSpan.FromDays(31)" Formatter="@(value => ((DateTime)value).ToString("MMMM"))" />
                <RadzenValueAxis Min="0" Max="@sollDatenMax" Step="@sollDatenStep">
                    <RadzenGridLines Visible="true" />
                </RadzenValueAxis>

                <RadzenLegend Position="LegendPosition.Bottom"/>
            </RadzenChart>
        }
    </div>
</div>