@*@page "/overview"*@
@page "/"
@inject ScreenData ScreenData
@inject IDbContextFactory<DbInfoscreenContext> ContextFactory
@inject Radzen.DialogService DialogService

<h3>Overview</h3>

<RadzenButton Text="Upload" Click="@OpenUploadFile" />
<RadzenButton Text="Cleanup" Click="@CleanupFiles" />

Live
<DataGridView ViewData="@dataViewLive" OnChange="@LoadDataViews" ShowDelete="true" />

Upcoming
<DataGridView ViewData="@dataViewUpcoming" OnChange="@LoadDataViews" />

Over
<DataGridView ViewData="@dataViewOver" OnChange="@LoadDataViews" />